  <mat-divider></mat-divider>
  <div  style="background-color: #f3f3f3;" class=" py-10">
    <div class=" lg:mx-48 mx-32 bg-white">
        <div class="flex space-x-3 mx-10 py-5">
            <div>
                <i class="fas fa-map-marker-alt text-2xl pt-1"></i>
            </div>
            <div>
                <h2>Địa chỉ</h2>
                <p>Quận Thủ Đức, Tp HCM</p>
            </div>

        </div>
        <div class="flex justify-between ">
            <div class="flex space-x-3 mx-10 pb-5">
                <div>
                    <i class="fas fa-phone text-2xl pt-1"></i>
                </div>
                <div>
                    <h2>Số điện thoại</h2>
                    <p>038xxxxxxx</p>
                </div>
    
            </div>
            <div class="flex space-x-3 mx-10 pb-5">
                <div>
                    <i class="fas fa-envelope text-2xl "></i>
                </div>
                <div>
                    <h2>Email</h2>
                    <p>xxx@gmail.com</p>
                </div>
    
            </div>
        </div>
       
    </div>
    <div style="background-color: #f3f3f3;" class=" py-10 ">
       <div class="lg:mx-48 mx-32 px-10 bg-white py-5 relative">
        <div>

            <h1>Gửi thắc mắc cho chúng tôi</h1>
            <p>Nếu bạn có thắc mắc gì, có thể gửi yêu cầu cho chúng tôi, và chúng tôi sẽ liên lạc lại với bạn sớm nhất có thể.</p>
        </div>
      
            <div class="grid grid-cols-1 gap-x-5 sm:grid-cols-4 mx-5 space-y-4">

                <div class="col-span-4 ">
    
                   <label for=""> Họ và tên</label>
                   <input class="input w-full" type="text" placeholder="họ và tên">
                </div>
                <div class="col-span-2 flex flex-col">
                    
                   <label for="">Email</label>
                   <input class="input" type="email" placeholder="email">
                </div>
                <div class="col-span-2 flex flex-col">
    
                    <label for="">Điện thoại</label>
                   <input class="input" type="email" placeholder="số điện thoại">
                </div>
                <div class="col-span-4 flex flex-col">
                    <label for="">Nội dung</label>
                    <textarea class="input" name="" id="" cols="30" rows="5" placeholder="nhập nội dung"></textarea>
                    
                </div>
               
                <div class="col-span-4 flex justify-end ">
                    <button class="bg-black color text-white p-3 mt-5 ml-auto rounded-md">Gửi cho chúng tôi</button>
                </div>
            </div>
       </div>
    </div>
  </div>
