.box{
    border: 1px solid #c8c3c3;
    border-radius: 4px;
    font-size: 14px;
    padding: 13px 40px 13px 12px;
    width: 100%;
}
.checkout{
    background-color: #338dbc;
    color: white;
}
.border-css{
    border: 1px solid #ebebeb;
}
 .voucher__input {
    padding: 12px 12px;
    width: 75%;
    border: 1px solid #ebebeb;
    outline: none;

}
 .voucher__button {
    background-color: #c8c8c8;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    flex: 1 1;
    font-weight: 600;
    padding: 12px 0;
    width: 20%;
}
    