<div >
    <div>
        <app-slide-banner></app-slide-banner>
    </div>
    <div class="home m-8">
        
        <div>
            <app-home-partner></app-home-partner>
        </div>
        <!-- <div >
            <div >
                
                <div class="flex justify-around pt-10 mb-2">
    
                    <div class="text-2xl font-bold">
                        Sản phẩm theo danh mục
                      </div>
                      <hr class="line-product-title mt-4 ml-2">
                  </div>
                </div>
                <p class="font-extralight">Bộ sưu tập các thương hiện nổi tiếng lớn trên Thế Giới</p>
            <app-home-product-slider [title]="'Iphone'" [products]="iphone"></app-home-product-slider>
            <app-home-product-slider [title]="'SamSung'" [products]="samsung"></app-home-product-slider>
            <app-home-product-slider [title]="'Vivo'" [products]="iphone"></app-home-product-slider>
            <app-home-product-slider [title]="'Laptop'" [products]="iphone"></app-home-product-slider>
        </div> -->
        <div>
            <app-home-product></app-home-product>
        </div>
    </div>
    
</div>
