<mat-divider></mat-divider>
<div class="grid grid-cols-7 gap-10 mx-32  py-10">
    <div class="grid col-span-5">
        <h1 style="font-weight: bold;">Tin tức</h1>
        <ng-container *ngFor="let new of news">
            <div class="my-4 grid grid-cols-3 cursor-pointer" (click)="navigaToNewsDetails(new.id)">
                <div class="w-64 h-36 col-span-1 relative" >
                    <img [src]="new.imagrTitle" alt="">
                    <div class="absolute top-0 w-8 ">
                        <img class="blinking-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFsdMYXDk6LxXaOstvR-4tirnaDWXx7d5jlQ&usqp=CAU" alt="">
                      </div>
                      
                </div>
                <div class="col-span-2">
                    <h2>{{new.title}}</h2>
                    <p>{{new.sub_title}}</p>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col-span-2">
        <p style="font-weight: bold;"> Sản phẩm mới </p>
        <mat-divider></mat-divider>
        <div >
            <div (click)="navigateToProducts()" class="flex p-4 justify-around cursor-pointer">
                <img src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/9/14//638302786719056580_ip-15-pro-dd.jpg" alt="">
               <div>
                <h3>iPhone 15 Pro 128GB</h3>
                <p class="text-sky-500">50 bài viết</p>
               </div>
            </div>
            <mat-divider></mat-divider>
            <div (click)="navigateToProducts()" class="flex p-4 justify-around cursor-pointer">
                <img src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/9/13//638301715320061468_iphone-15-dd.jpg" alt="">
               <div>
                <h3>iPhone 15 128GB</h3>
                <p class="text-sky-500">85 bài viết</p>
               </div>
            </div>
            <mat-divider></mat-divider>
            <div (click)="navigateToProducts()" class="flex p-4 justify-around cursor-pointer">
                <img src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/8/28//638288178412655978_samsung-galaxy-z-flip5-xanh-dd-tragop.jpg" alt="">
               <div>
                <h3>Samsung Galaxy Z Flip5 5G </h3>
                <p class="text-sky-500">75 bài viết</p>
               </div>
            </div>
            <mat-divider></mat-divider>
            <div (click)="navigateToProducts()" class="flex p-4 justify-around cursor-pointer">
                <img src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/10/12//638327122312902566_oppo-find-n3-flip-5g-den-dd.jpg" alt="">
               <div>
                <h3>
                    OPPO Find N3 Flip 5G</h3>
                <p class="text-sky-500">14 bài viết</p>
               </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
