.product-title{
    width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-bottom: 0.5em;
}
.line-product-title{
    width: 70%;
    border: 1px solid #ccc; 
}