<div class="bg-black text-white  px-5 py-5">
    <div class="container">
        <div class="lg:flex justify-between">
            <div class="px-4 content">
                <h1 class="font-bold    ">Tổng đài hỗ trợ miễn phí</h1>
                <p>Gọi mua hàng 1800.2097 (7h30 - 22h00)</p>
                <p>Gọi khiếu nại 1800.2063 (8h00 - 21h30)</p>
                <p>Gọi bảo hành 1800.2064 (8h00 - 21h00)</p>
            </div>
            <div  class="px-4 content hidden lg:block">
                <h1>Thông tin và chính sách</h1>
                <p>Mua hàng và thanh toán Online</p>
                <p>Mua hàng trả góp Online</p>
                <p>Chính sách giao hàng</p>
                <p>Tra điểm Smember</p>
                <p>Xem ưu đãi Smember</p>
                <p>Tra thông tin bảo hành</p>
                <p>Tra cứu hoá đơn điện tử</p>
                <p>Thông tin hoá đơn mua hàng</p>
                <p>Trung tâm bảo hành chính hãng</p>
            </div>
            <div  class="px-4 content hidden lg:block">
                <h1>Dịch vụ và thông tin khác</h1>
                <p>Khách hàng doanh nghiệp (B2B)</p>
                <p>Ưu đãi thanh toán</p>
                <p>Chính sách Bảo hành</p>
                <p>Quy chế hoạt động</p>
                <p>
                    Liên hệ hợp tác kinh doanh</p>
                <p>Tuyển dụng</p>
                <p>Dịch vụ bảo hành điện thoại</p>
                <p>Dịch vụ bảo hành mở rộng</p>
            </div>
            <div  class="px-4 content ">
                <h1 >Kết nối với TECH STORE</h1>
                <div class="flex lg:flex-col space-x-5 text-start">

                    <a class="lg:ml-5" href="https://www.facebook.com/t.anh.ho.9843/"> Facebook<i style="color: #3b5998; " class="fab fa-facebook-f fa-2x pb-3 text-2xl ml-3"></i></a>
                    <a href="">Instagram <i class="fab fa-instagram fa-2x pb-3 text-2xl ml-3" style="color: #ac2bac;"></i></a>
                    <a href="">Tiktok<i class="fab fa-tiktok pb-3 text-2xl ml-3"></i></a>   
                    <a href="">Twitter<i class="fab fa-twitter fa-2x pb-3 text-2xl ml-3" style="color: #55acee;"></i></a>
                </div>
               
                
                
            </div>
        </div>
    </div>
</div>
