
<div class=" container mt-10    ">
    <div>

        <form >
            <p class="text-center text-xl">Chào mừng bạn đến với TechStore</p>
            <h1 class="text-center mt-5">Đăng kí</h1>
            
            <div class="flex justify-center flex-col items-center space-y-2 ">
                <div class="mb-5">

                    <div class="space-x-15">
                      <span class="mr-4">Họ và Tên</span>
                        <input class="input" type="text">
                    </div>
                    <div class="space-x-11">
                        <label for="">Email</label>
                        <input class="input" type="email">
                    </div>
                    <div class="space-x-5">
                        <label >Mật khẩu</label>
                        <input class="input" type="password">
                    </div>
                </div>
             
                <div class="text-center space-y-5 ">
                 

                        <p class="mt-10">Bạn đã có tài khoản? <span class="font-bold cursor-pointer hover:scale-110"><a (click)="changeIslogin">Đăng nhập ngay</a> </span></p>
               
                    <div class="text-center space-x-5">
                        <a href="" class="text-3xl "><i  class="fab fa-google-plus"></i></a>
                        <a href="" class="text-3xl"> <i class="fab fa-facebook-square"></i></a>
                        <a href="" class="text-3xl"><i class="fab fa-instagram-square"></i></a>
                        <a href="" class="text-3xl"><i class="fab fa-twitter"></i></a>
                       
                    </div>
                    <button class="btn w-full mb-10">Đăng kí</button>
                </div>
                
            </div>
        
        </form>
    </div>
   
</div>

